pandas~=2.3.3
numpy~=2.2.2
nltk
sentence_transformers
torch~=2.9.1
torchsummary~=1.5.1
scikit-learn~=1.7.2
transformers~=4.57.1
matplotlib~=3.10.0
tqdm~=4.67.1
pyqt5
datetime~=6.0
imblearn~=0.0
imbalanced-learn~=0.14.0
sentence-transformers~=5.1.2
joblib~=1.5.2
scipy~=1.16.2
tf-keras